[flake8]
count = true
doctests = true
builtins = _

ignore =
  # Missing docstring in public module
  D100,
  # Missing docstring in public function
  D103,
  # Missing docstring in public package
  D104,
  # Found wrong variable name
  WPS110,
  # Found walrus operator
  WPS332

per-file-ignores =
  */settings/__init__.py:
    # Found __init__.py module with logic
    WPS412

max-import-from-members = 10
max-line-length = 120
max-line-complexity = 16
max-local-variables = 10
max-string-usages = 5
